<configuration>
	<packageSources>
		<add key="OpenAI" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<OpenAI>
			<add key="Username" value="OPENAI_API_KEY" />
			<add key="ClearTextPassword" value="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" />
		</OpenAI>
	</packageSourceCredentials>
</configuration>